body{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  background: #aaa;
  
}

.main_form{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  width: 45%;
  height: auto;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #3c1361;
  text-align: center;
  font-size : 20px;
}

.main_form h1{
  font-family: 'Ubuntu', sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size : 32px;
}
}
#Error{
  font-family: 'Ubuntu', sans-serif;
  color: orange;
  background-color: orange;
  height: 3em;
  width: 500px;
  text-transform: uppercase;
  font-weight: 700;
  font-size : 32px;
}
.main_form input[type = "text"]{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid hotpink;
  padding: 14px 10px;
  width: 25%;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  font-size : 20px;
}
.main_form input[type = "text"]:focus{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  width: 35%;
  border-color: orange;
  font-size : 20px;

  }
  .main_form input[type = "text"]:active{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  width: 35%;
  border-color: orange;
  font-size : 20px;

  }
.main_form input[type = "text"]:hover{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  width: 35%;
  border-color: orange;
  font-size : 20px;
  }
.main_form input[type = "submit"]{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid orange;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size : 20px;
}
.main_form input[type = "submit"]:hover{
  background-color: hotpink;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size : 20px;
}
